.R70Mto_title {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    color: #333;
    transition: all 0.3s ease;
}

.R70Mto_title:hover {
    color: #007bff;
    transform: translateY(-5px);
}

.R70Mto_container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: rgba(255, 177, 8, 0.3); 
    backdrop-filter: blur(8px);
}

/* 苹果多少是有点大病 */
@supports not (backdrop-filter) {
.R70Mto_container {
    -webkit-backdrop-filter: blur(8px);
}
