.R70Mto_title {
    text-align: center;
    font-size: 20px !important;
    font-weight: normal;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    color: #333;
    transition: all 0.3s ease;
}

.R70Mto_title:hover {
    color: #007bff;
    transform: translateY(-5px);
}

.R70Mto_container {
    font-family: 'Helvetica Neue', Times New Roman, Helvetica, Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: rgba(255, 177, 8, 0.3); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);/* 苹果多少是有点大病 */
    min-height: 14vh;
}

.R70Mto_container p{
    text-indent: 2em !important;
}

.R70Mto_container img {
    max-width: 100%;
    height: auto;
}

.R70Mto_container:last-child {
    margin-bottom: 0;
}

.R70Mto_embed {
    width: 100%; 
    height: 100%;
    border: none; 
    overflow: hidden;
}

.R70Mto_nav {
    position: fixed;
    top: 50%; 
    right: 10px;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.R70Mto_nav a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

.R70Mto_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.R70Mto_gallery img {
    width: auto;
    height: auto;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

.R70Mto_gallery_full {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.R70Mto_gallery_full img {
    width: 100%;
    height: 100%;
}

@media (orientation: portrait) {
  .R70Mto_nav {
    display: none;
  }
}

.R70Mto_bg_parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#p_bg1 { background-image: url('https://img.ts-dm.net/images/2024/03/04/97283983_p0.png'); }
#p_bg2 { background-image: url('https://img.ts-dm.net/images/2024/03/04/101043278_p0.png'); }
#p_bg3 { background-image: url('https://img.ts-dm.net/images/2024/03/04/106088639_p0.png'); }
#p_bg4 { background-image: url('https://img.ts-dm.net/images/2024/03/04/116593587_p0.png'); }
#p_bg5 { background-image: url('https://img.ts-dm.net/images/2024/03/04/108837009_p0.png'); }
#p_bg6 { background-image: url('https://img.ts-dm.net/images/2024/03/04/116056256_p0.png'); }

#p_bg10 { background-image: url('https://img.ts-dm.net/images/2024/03/04/94737094_p0.jpg'); }
